<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424871787486-qm6mn640hfi3t3gjlkd2jq7t9kkmvspv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424871787486-qm6mn640hfi3t3gjlkd2jq7t9kkmvspv</string>
	<key>API_KEY</key>
	<string>AIzaSyCTiu_VzeComeJ631Z1sHP4b3tvkDyJXrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>424871787486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glintpod.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>jaychatappv2</string>
	<key>STORAGE_BUCKET</key>
	<string>jaychatappv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424871787486:ios:8ad4030d47602d69afbb4f</string>
</dict>
</plist>