<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270400563732-ivm2p9i26ei1nkqa7hbdg4hhfbm5ehg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270400563732-ivm2p9i26ei1nkqa7hbdg4hhfbm5ehg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAymASo_rt3CsRn7mnL3_ivC3H_M3pg5mg</string>
	<key>GCM_SENDER_ID</key>
	<string>270400563732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glintpod.MessagingApp</string>
	<key>PROJECT_ID</key>
	<string>messagingapp-549bc</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingapp-549bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270400563732:ios:97087c0283cab465c5d501</string>
</dict>
</plist>